/* this style is only for small device */

@media screen and (max-width: 576px) {
  .navbar {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0;
  }
  .nav-list {
    gap: 1px;
  }

  .nav-item .hide {
    display: none;
  }
  .nav-item .tray {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2.5vh;
  }

  /* banner section */

  .banner {
    gap: 28px;
    flex-direction: column;
    margin: 28px 0 65px 0;
  }
  .banner-img {
    order: -1;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-title {
    font-size: 3rem;
    font-weight: 700;
  }
  .banner-details {
    font-size: 1rem;
  }

  /* plants section */
  .plant {
    margin: 65px 10px 40px 10px;
  }
  .plant-card-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  /* flower store */

  .flower-store {
    flex-direction: column;
    gap: 20px;
    margin: 40px 10px 120px 10px;
  }

  .store-img img {
    width: 100%;
  }
  .store-img .badge {
    display: none;
  }

  .store-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .store-details {
    font-size: 1rem;
  }
  .store-details li {
    margin-bottom: 16px;
  }
}
