/* this style is only for small device */

@media screen and (max-width: 576px) {
  .navbar {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0;
  }
  .nav-list {
    gap: 1px;
  }

  .nav-item .hide {
    display: none;
  }
  .nav-item .tray {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2.5vh;
  }

  /* banner section */

  .banner {
    gap: 28px;
    flex-direction: column;
    margin: 28px 0 65px 0;
  }
  .banner-img {
    order: -1;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 10px;
  }
  .banner-details {
    font-size: 1rem;
    margin-left: 10px;
  }

  /* plants section */
  .plant {
    margin: 65px 10px 40px 10px;
  }
  .plant-card-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .plant-title {
    font-size: 2.5rem;
  }
  .plant-details {
    font-size: 1rem;
  }

  /* flower store */

  .flower-store {
    flex-direction: column;
    gap: 20px;
    margin: 40px 10px 120px 10px;
  }

  .store-img img {
    width: 100%;
  }
  .store-img .badge {
    display: none;
  }

  .store-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .store-details {
    font-size: 1rem;
  }
  .store-details li {
    margin-bottom: 16px;
  }

  /* latest deals section */
  .deals-title {
    font-size: 2.5rem;
  }
  .deals-img-container {
    flex-direction: column;
  }

  /* letest deals right side image */

  .img-container-2 {
    position: relative;
    height: 200px;
  }

  .img-container-2 > .gradient-2 {
    background-color: black;
    opacity: 40%;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
  }

  .img-container-2 > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .img-text-2 > div > p {
    font-size: 20px;
  }
  .img-text-2 > div > a {
    font-size: 1rem;
  }

  /* subscription area */

  .join-container {
    height: 275px;
    padding: 30px;
  }

  .text-input {
    padding-top: 10%;
  }

  .join-title {
    font-size: 1.4rem;
  }

  .footer-btn {
    width: 100px;
  }

  /* bottom area */

  .bottom-area {
    flex-direction: column;
    height: 350px;
    padding: 50px 20px;
  }

  .bottom-logo {
    width: 300px;
  }

  .bottom-details {
    color: var(--details-color);
    font-size: 1.4rem;
    margin-top: 16px;
  }

  .bottom-list li {
    list-style: none;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 30px;
  }
  .bottom-list .home {
    margin-top: 30px;
  }

  .icon-container img {
    margin-right: 20px;
    margin-bottom: 50px;
  }
}
