/* Section-1    This is common style area  */

@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Noto+Serif&display=swap");

.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
}

:root {
  --primary-color: #e95a08;
  --secondary-color: #8987a1;
  --card-color: #11111111;
  --details-color: rgba(0, 0, 0, 0.5);
  --image-font-color: #ffffff;
  --image-color: rgba(0, 0, 0, 0.4);
  --footer-image-color: rgba(7, 51, 79, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  max-width: 1140px;
  margin: 0 auto;
}
.main {
  max-width: 1140px;
  margin: 0 auto;
}

.common-span {
  color: black;
}
/* Section-2    This is the navigation area  */

.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  width: 100%;
}

.nav-list {
  gap: 48px;
  align-items: center;
}

.nav-item {
  list-style: none;
  padding: 0px;
}
.nav-item a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-item .shop {
  color: var(--secondary-color);
}

/* Section-3    This is the banner area  */

.banner {
  justify-content: space-between;
  align-items: center;
  margin: 120px 0;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
}
.banner-details {
  font-size: 1.4rem;
  color: var(--details-color);
}

/* Section-4    This is plant cards area  */

.plant-text {
  text-align: center;
}
.plant-title {
  font-size: 3.2rem;
  color: var(--primary-color);
  margin-bottom: 16px;
  font-weight: 700;
}

.plant-details {
  font-size: 1.4rem;
  color: var(--details-color);
  margin-bottom: 45px;
}

/* cards area */
.plant {
  margin: 120px 0 200px 0;
}
.plant-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.plant-card {
  max-height: 480px;
  max-width: 270px;
  text-align: center;
}
.plant-card img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.card-text {
  padding: 10px 0 20px 0;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-price {
  font-size: 1.4rem;
  font-weight: 700;
}

.card-btn {
  width: 100%;
  background-color: #e95a08;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 20px 0 20px 0;
  font-weight: 600;
}

/* Section-5    This is flower store area  */
.flower-store {
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 120px;
}

.store-img {
  position: relative;
}
.store-img .badge {
  position: absolute;
  width: 280px;
  left: 350px;
  top: -100px;
}

.store-title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.store-details {
  font-size: 1.4rem;
  margin: 20px;
  color: var(--details-color);
}
.store-details li {
  margin-bottom: 20px;
}

/* Section-6    This is deals area  */

/* Section-7    This is join area  */

/* Section-8    This is footer area  */
